* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    margin: 0px;
}

header {
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: #48964E;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Baloo Bhai' !important;
    color: white;
}

main {
    padding: 10px;
    width: 100%;
    text-align: center;
}


.col1 {
    width: 50%;
    float: left;
    padding-left: 25px;
}

.col2 {
    width: 50%;
    float:right;
    padding-right: 25px;
}

.colu {
    width: 100%;
    float: right;
}

section {
    width: 180px;
    height: 180px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    /*background-color:  #bac936*/
    border: 3px solid;
}

.colu > section {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 0px;
}

section > img{
    margin-top: 40px;
    width: 100px;
}

aside {
    width: 100%;
    float: right;
    padding: 20px;
    margin: 10px auto;
    text-align: justify;
}

#random-title {
    font-family: "Dancing Script", serif;
    font-size: 40px;
}

#random-fact {
    font-size: 20px;
}

footer {
    background-color: #686d63;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.footer-left {
    width: 33%;
    float:left;
}
.footer-center {
    width: 33%;
    float:left;
}
.footer-right {
    width: 33%;
    float:right;
}

footer div {
    margin-top: 10px;
    text-align: center;
}

footer img {
    width: 40px;
    height: 40px;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label {
    display:block;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    margin: auto;
    background-image: url("Img/subir.png");
    background-size: contain;
}

.prelabel {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 20px;
    border-radius: 100%;
    background-color: #FAA916;
}

label:hover {
    cursor: pointer;
}

input[type="submit"] {
    border: none;
    font-size: 20px;
}

input[type="submit"]:hover {
    cursor: pointer;
    text-decoration: underline;
}


.container-img {
    width: 200px;
}

.small-img {
    width: 100px;
}

.full-img {
    width: 100%;
}
/*
section {
    width: 95%;
    background-color: lightsalmon;
    border: solid 1px black;
    margin: 10px auto;
    height: 200px;
    padding: 10px;
    padding-top: 80px;
    text-align: center;
}

section > span {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255,255,255,0.7);
}

main > section:nth-of-type(1) {
    background-image: url("https://images.unsplash.com/photo-1557224651-e96a58962468?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-position: center;
    background-size: cover;
}
*/

a {
    text-decoration: none;
    color: black;
    border-color: black;
}
