<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title> ReciclaBCN </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <img id="bannerImg" styles="visible:invisible" />
    </head>

    <body>
        <form action="/a-donde-va" method="post" enctype="multipart/form-data">
            <input name="image" id="input-img" type="file" accept="image/*;capture=camera">
            <input type="submit" value="LOAD">
        </form>

    </body>
</html>
