<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title> ReciclaBCN </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <script type="text/javascript">
        function redirect(pos) {
            let lat = pos.coords.latitude;
            let lon = pos.coords.longitude;
            console.log(`http://127.0.0.1:5000/punto-verde?lat=${lat}&lon=${lon}`);
            window.location.replace(`http://127.0.0.1:5000/punto-verde?lat=${lat}&lon=${lon}`);
        }

        function permission() {
            //navigator.geolocation.getCurrentPosition(redirect);
            window.location.replace(`/punto-verde?lat=41.616450&lon=0.623570`)
        }

        setInterval(() =>{ permission() }, 100);

        </script>
    </body>
</html>
