<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title> ReciclaBCN </title>
    </head>

    <body>
        <h1> Hola, {{name}} </h1>
        <p> El server está funcionando yay :D </p>

        <ul>
            <li> <a href="/punto-verde"> Busca el punto verde más cercano</a> </li>
            <li> <a href="/identificador"> ¿Dónde tiro mi basura? </a> </li>
            <li> <a href="/muebles"> ¿Cuándo/dónde tiro mis muebles? </a> </li>
        </ul>
    </body>
</html>
