<!DOCTYPE html>
<html lang="es-ES">
    {% include 'head.html' %}

    <body>
        {% include 'header.html' %}

        <aside>
            <!--<span id="random-title"> ¿Sabías que...? </span> <br /><br />-->
            <span id="random-fact"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor eros ac lectus dictum accumsan eu aliquet nisl. </span>
        </aside>

        <main>

            <div class="col1">
                <a href="/punto-verde"> <section>
                    <img src="{{ url_for('static', filename='Img/mapas-y-banderas.png') }}" />
                </section></a>
            </div>
            <div class="col2">
                <a href="/report"><section>
                    <img  src="{{ url_for('static', filename='Img/bandera copia.png') }}" />
                </section></a>
            </div>
            <div class="colu">
                <a href="/a-donde-va"><section>
                    <img src="{{ url_for('static', filename='Img/camara-de-fotos copia.png') }}" />
                </section></a>
            </div>
        </main>


        {% include 'footer.html' %}
    </body>
</html>
